.numbers {
  color: red;
}

.operators {
  color: blue;
}

.result {
  width: 160px;
  height: 30px;
  line-height: 40px;
  background-color: #3E4651;
  color: #fff;
  margin: 5px;
}
.result > p {
  margin-left: 10px;
}

#one {

}

#two {

}

#three {

}

#four {

}

#five {

}

#six {

}

#seven {

}

#eight {

}

#nine {

}

#zero {

}

#plus {

}

#minus {

}

#multiply {

}

#divide {

}

#modulo {

}

#equals {

}
